@font-face {
    font-family: 'Source Sans Pro';
    src: url("../font/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}
@font-face {
    font-family: 'Francois';
    src: url("../font/Francois_One/FrancoisOne-Regular.ttf");
}
:root {
    --bgsoothing: #BBFFFE;
    --bgdracula: #353B48;
    --bgyellower: #E9BF12;
    --bgquacam: #f8571d;
    --color: #ff5d22;
    --bgflashwhite: #f1f2f6;
    --bsbluezone: #f5f5fa;
    --bsbluechill: #1e90ff;
    --bsgradient-orange: linear-gradient(to left,#DD1829,#FCC419);
}
.alignment {
    text-align: justify;
}
* {
    font-family: 'Source Sans Pro', sans-serif ;
}
/* Phan header web */
header ul.nav a {
    color: var(--bgyellower);
    font-weight: 600;
}
.name-logo-des {
    color: var(--bgyellower);
}
header ul.nav>li>a {
    position: relative;
}
header ul.nav>li>a::before {
    content: '';
    height: 3px;
    width: 0;
    background: var(--bgyellower);
    bottom: 0;
    position: absolute;
    left: 0;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
header ul.nav>li:hover>a::before {
    width: 100%;
}
header ul.nav>li:hover>a {
    color: white;
}
.bg-dracula {
    --bs-bg-opacity: 1;
    background-color: var(--bgdracula) !important;
}
.head {
    background-color: var(--bgsoothing);
}
.head .navbar {
    padding: 0.25rem 0;
}

/* thanh search */
.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}
.search-input {
    line-height: 0.7rem;
}
.search-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
} 
.input:focus {
    opacity: 1;
    width: 250px;
}
/* thanh search */
.menu {
    background-color: var(--bgdracula);
}
.name-logo {
    font-family: 'Francois', sans-serif;
    color: #0d0d0e;
    font-size: 70%;
}
.name-logoweb {
    height: 50px;
}
.logotext-color {
    color: var(--bgyellower);
    font-family: 'Francois', sans-serif;
}
/* set offcanvas menu bên trái */
@media only screen and (min-width: 500px) and (max-width: 768px) {
    .menu .menu_left {
        width: 48vw;
    }
}
/* header */
/* phan main */
/* section review */
#register .form-group label,
#login-up .form-group label {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    transition-duration: 0.5s;
    pointer-events: none;
}
#register .form-group input,
#login-up .form-group input {
    outline: none;
    border: 1px solid var(--bgflashwhite);
}
#register .form-group input:focus,
#login-up .form-group input:focus {
    border: 1px solid var(--bsbluechill); 
}
#register .form-group input:focus + label,
#login-up .form-group input:focus + label {
    top: 0px;
    font-size: 85%;
    color: var(--bsbluechill);
}
#login-up,
.main-bannerhmone,
.homepage-contact, .main-bannersell ,
#homepage-intro, #name-product {
    margin-top: 110px;
}

/* section nổi bật */
.carousel-control-prev, .carousel-control-next {
    background-color: var(--bgflashwhite);
    width: 40px;
    height: 40px;
    top: 50%;
    transition: translateY(-50%);
}
.carousel-button-left {
    left: -20px;
}
.carousel-button-right {
    right: -20px;
}
.button-click-buy:not(:first-child) {
    display: none;
    
}
.card:hover {
    box-shadow: 0 0.5rem 1rem rgba(138, 136, 136, 0.15);
}
.card:hover .button-click-buy {
    display: block;
    transition: all 0.75s ease-in-out;
}
#customer-reviews .customer-reviews-bg {
    background-image: url(../file/noithat/searchs/background_danhgia.png);
    background-size: cover;
}
.productSale {
    width: 50px;
    height: 60px;
    background-image: url(../file/iconsale.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.time-item {
    width: 70px;
    height: 70px;
}
.button-flashsale {
    width: 40px;
}
#bannersale .bannersalebig {
    color: #ed9fa6;
    font-size: calc(100% + 10em);
}
#bannersale .bannersalebig {
    top: 5%;
    left: 10%;
}
#bannersale .bannersalesmall {
    top: 30%;
    left: 35%;
}
#bannercontent .banner-main .banner-item:hover img {
    transform: scale(1.02);
}
#showroom-wrap .showroom-wrap-right::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), #fff);   
}
/* set button click buy, see */
/* Phan footer */
footer {
    background-color: var(--bgdracula);
    color: white;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
ul.social-media li {
    width: 36px;
    height: 36px;
    padding: 0.4rem;
}
ul.toggle-mn li a {
    color: white;
}
ul.toggle-mn li a:hover {
    color: #E9BF12;
}
/* ô button input nhap email*/
.click-register input{
    min-height: 2.5em;
    max-width: 15em;
    padding: 0 1rem;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    background-color: transparent;
}
.button-submit {
    background-color: #5e4dcd;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}
.button-submit:hover {
    background-color: #5e5dcd;
}
.click-register input:focus, .click-register input:focus-visible {
    border-color: #3898EC;
}
