body {
    background-image: url('../filetep/nen.jpg');
    background-size: cover;
    background-size: -100;
}
.container {
    max-width: 100%;
    margin: 0 30px 0 30px;
}
header {
    background-color: rgb(244, 247, 247);
}
nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
ul li {
    list-style: none;
}
#logo img {
    max-width: 120px;
    height: 60px;
    
}
#main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#main-menu li {
    position: relative;
}
#main-menu li a {
    color: blue;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}
#main-menu ul.sub-menu {
    position: absolute;
    top: 63px;
    background-color: rgb(196, 205, 217);
    padding: 0;
    width: 120px;
    display: none;
}
#main-menu li:hover>ul.sub-menu {
    display: block;
}
#main-menu ul.sub-menu a {
    padding: 8px 16px;
    border-bottom: 1px solid black;
    left: 0;
}
#main-menu ul.sub-menu li:hover >a {
    border-bottom: 1px solid rgb(237, 94, 99);
}
#main-menu ul.sub-menu li:last-child a {
    border: none;
}
#main-menu ul.sub-menu ul.sub-menu {
    width: 100px;
    left: 121px;
    top: 0px
}
#main-menu>li>a {
    position: relative;
}
/* Thiết lập border khi hover */
#main-menu>li>a::before {
    content: "";
    height: 4px;
    width: 0px;
    background: red;
    position: absolute;
    bottom: 0;
    left: 0;
    transition:0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* khi hover vào li trong main-menu sẽ tác động hiển thị a*/
#main-menu>li:hover>a::before {
    width: 100%;
}
#main-menu .sub-menu li:hover >a {
    color: rgb(239, 60, 60);  
}